<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keyword"]" />

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="~/client-side/favicon.ico">

    <!-- CSS Style -->
    <link rel="stylesheet" href="~/client-side/style.css">
</head>

<body class="@ViewData["BodyClass"]">

    <!--Mobile menu-->
    @await Component.InvokeAsync("MobileMenu")
    <!--End Mobile menu-->

    <div id="page">
        <!-- Header -->
        @Html.Partial("_Header.cshtml")
        <!-- end header -->
        <!-- Navigation -->
        <nav>
            <div class="container">
                <!--Mani menu-->
                @await Component.InvokeAsync("MainMenu")
            </div>
        </nav>
        <!-- end nav -->

        @RenderBody()

        <!-- Footer -->
        @Html.Partial("_Footer.cshtml")
    </div>

    <!-- End Footer -->
    <!-- jquery js -->
    <script type="text/javascript" src="/client-side/js/jquery.min.js"></script>

    <!-- bootstrap js -->
    <script type="text/javascript" src="/client-side/js/bootstrap.min.js"></script>

    <!-- owl.carousel.min js -->
    <script type="text/javascript" src="/client-side/js/owl.carousel.min.js"></script>

    <!-- jtv-jtv-mobile-menu js -->
    <script type="text/javascript" src="/client-side/js/jtv-mobile-menu.js"></script>

    <!-- countdown js -->
    <script type="text/javascript" src="/client-side/js/countdown.js"></script>

    <!-- main js -->
    <script type="text/javascript" src="/client-side/js/main.js"></script>

    <!-- rev-slider js -->
    <script type="text/javascript" src="/client-side/js/rev-slider.js"></script>

    @RenderSection("Scripts", required: false);

    <!--Newsletter Popup Start-->
    @*<div id="myModal" class="modal fade">
            <div class="modal-dialog newsletter-popup">
                <div class="modal-content">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <div class="modal-body">
                        <h4 class="modal-title">NEWSLETTER SIGNUP</h4>
                        <form id="newsletter-form" method="post" action="#">
                            <div class="content-subscribe">
                                <div class="form-subscribe-header">
                                    <label>Subscribe to be the first to know about Sales, Events, and Exclusive Offers!</label>
                                </div>
                                <div class="input-box">
                                    <input type="text" class="input-text newsletter-subscribe" title="Sign up for our newsletter" name="email" placeholder="Enter your email address">
                                </div>
                                <div class="actions">
                                    <button class="button-subscribe" title="Subscribe" type="submit">Subscribe</button>
                                </div>
                            </div>
                        </form>
                        <div class="subscribe-bottom">
                            <input name="notshowpopup" id="notshowpopup" type="checkbox">
                            Don’t show this popup again
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!--End of Newsletter Popup-->
</body>
</html>